.achievementsBox {
  padding: 16px;
  background-color: #f9f9f9;
  border-radius: 8px;
  min-width: 300px;
  width: 400px;
  height: 60px;
  max-width: 500px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.05);
}

.name {
  color: #666;
}
