.page{
    margin: 0 !important;
    padding: 0 !important;
    text-align: left !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
}

.routeName {
    font-size: 38px;
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: flex-start; /* Вирівнювання ліворуч */
    align-items: center; /* Вирівнювання по вертикалі (за потребою) */
    flex-direction: row; /* Горизонтальне розташування (значення за замовчуванням) */
    gap: 700px; /* Відступ між елементами */
    width: 100%; /* Займає всю доступну ширину */
    margin: 0;
    padding: 0;
}


.button, .buttonFinish {
    background: #fff;
    border: none;
    border-radius: 16px;
    padding: 8px 20px;
    font-family: 'Merriweather', serif;
    font-weight: 600;
    color: #707070;
    box-shadow: 0 4px 16px #e3dfd6;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: box-shadow 0.15s;
    font-size: 18px;
}

.button:hover, .buttonFinish:hover {
    box-shadow: 0 8px 24px #e3dfd6;
    color: #3d3933;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1.03);
}

.buttonFinishDiv{
    margin-left: 730px;
}

